<header class=" header">
    <button class="hamburger" type="button" mat-icon-button  (click)="toggleActive()">
        <mat-icon class="mat-icon-rtl-mirror">{{ !isActive ? 'menu' : 'close' }}</mat-icon>
    </button>
    <nav>
        <ul class="mobile-nav">
            <li><a routerLink="">{{ "MAIN" | translate }}</a></li>
            <li><a routerLink="/categories">{{ "CATEGORY" | translate}}</a></li>
            <li><a routerLink="/applications">{{ "APPS" | translate }}</a></li>
        </ul>
    </nav>
    <a routerLink="" class="logo">
        <img src="assets/images/logo2.png" alt="logo">
    </a>
    <app-navbar></app-navbar>
    <div class="user__and__langs">
        <app-languages></app-languages>
        <app-login></app-login>
    </div>
</header>