@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';


.about-us {
    display: flex;
    color: $bgc;
    border: 1px solid $bgc;
    margin-top: 100px;
}
.unity {
    width: 50%;
    height: 400px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3 {
    font-size: 22px;
    padding: 20px 0;
}
.about {
    width: 50%;
    padding: 0 35px;
    line-height: 25px;
}
.bold {
    font-weight: bold;
}


@media screen and (max-width : 850px) {
    .about-us {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .about {
        width: 100%;
        height: 220px;
    }
    .unity {
        width: 100%;
        height: 220px;
    }
}