@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';


.login {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user {
    width: 32px;
    height: 32px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.enter {
    font-size: 17px;
}
a {
    text-decoration: none;
    color: $bgc;
}