<div class="user-profile">
    <!-- <div class="add">
        <span>დაამატეთ ნამუშევრები</span>
        <img class="add-icon" src="assets/icons/add.svg" alt="add">
    </div> -->
    <div class="personal-information">
        <div class="image">
            <img [src]="profile.profilePicture" [alt]="profile.name">
        </div>
        <div class="contact-information">
            <div class="name">{{profile.name}}</div>
            <div class="num">
                <img class="icon" src="assets/icons/phone.svg" alt="">
                <span>{{profile.phone}}</span>
            </div>
            <div class="num">
                <img class="icon" src="assets/icons/email.svg" alt="">
                <span>{{ profile.email }}</span>
            </div>
        </div>
    </div>
    <div class="works">
        <h2>{{ 'WORKS' | translate }}</h2>
        <div class="user-works">
            <div class="image">
                <img src="assets/images/profile-images/greens.jpg" alt="works">
            </div>
        </div>
    </div>
</div>
