@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';


h2 {
    text-align: center;
    padding: 25px 0;
    color: $bgc;
    font-size: 24px;
}
.leaders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width : 1100px) {
    .container {
        width: 90%;
    }
}