@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

.contact-container {
    background-color: #2b2b2b;
    display: flex;
    padding-bottom: 20px;
    color: $text;
}
.contact-details {
    width: 35%;
}
.contact-form {
    width: 50%;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-fields {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
h3 {
    font-size: 22px;
    text-align: center;
    padding: 10px 0 20px;
}

@media screen and (max-width : 1100px) {
    .contact-container {
        justify-content: space-around;
    }
    .contact-form {
        width: 530px;
    }
}

@media screen and (max-width : 1000px) {
   .contact-container {
    flex-direction: column-reverse;
    align-items: center;
   }
   .contact-details h3 {
    display: none;
   }
   .contact-details {
    margin-top: 60px;
   }
}

@media screen and (max-width : 700px) {
    .input-fields {
        flex-direction: column;
    }
}
