<div class="contact-container container">
    <div class="contact-details">
        <h3>კონტაქტი</h3>
    </div>
    <div class="contact-form">
        <h3>დაგვიკავშირდით</h3>
        <form action="" class="form">
            <div class="input-fields">
              <app-input [labelText]="'სახელი'"></app-input>
              <app-input [labelText]="'გვარი'"></app-input>
            </div>
            <div class="input-fields">
              <app-input [labelText]="'ელ.ფოსტა'"></app-input>
              <app-input [labelText]="'ნომერი'"></app-input>
            </div>
            <app-textarea [labelText]="'მოგვწერეთ თქვენი საქმიანობის შესახებ'" [rows]="'7'"></app-textarea>
        </form>
    </div>
</div>