@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';


.input-element {
    color: $text;
    display: flex;
    flex-direction: column;
}
.input {
    width: 220px;
    outline: none;
    border-radius: 10px;
    background-color: #2B2B2B;
    line-height: 35px;
    border: 1px solid rgba(167, 167, 167, 0.2);
    border-bottom: 2px solid rgba($color: $text, $alpha: .5);
    color: $text;
    padding: 0 5px;
    margin: 10px 0 15px 0;
}
input::placeholder {
    color: $text;
    font-size: 11px;
}
label {
    font-size: 17px;
}
.error {
    font-size: 8px;
    color: red;
}