@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';


.textarea-element {
    display: flex;
    flex-direction: column;
    width: 500px;
}
textarea {
    resize: none;
    outline: none;
    border-radius: 10px;
    background-color: #2B2B2B;
    border: 1px solid rgba(167, 167, 167, 0.2);
    border-bottom: 2px solid rgba($color: $text, $alpha: .5);
    color: $text;
    padding:  5px;
    margin: 10px 0 15px 0;
}
label {
    font-size: 17px;
    color: $text;
}
textarea::placeholder {
    color: $text;
    font-size: 11px;
}

@media screen and (max-width : 1000px) {
    .textarea-element {
        width: 400px;
    }
}
@media screen and (max-width : 700px) {
    .textarea-element {
        width: 250px;
    }
}