@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/BreeSerif-Regular.woff2') format('woff2'),
        url('../fonts/BreeSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('../fonts/BPGNinoMtavruli.woff2') format('woff2'),
        url('../fonts/BPGNinoMtavruli.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

$bree : 'Bree Serif';
$nino : 'BPG Nino Mtavruli'
